# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. MATLAB

Some commonly used libraries by data scientists are:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. PyTorch
8. Keras
9. SciPy
10. Statsmodels

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives:**

Introduction to Markdown in Jupyternotebook

Introduction to Creating Table in Markdown of Jupyternotebook

Introduction to Arithmetic expression in Jupyternotebook

## Author
Asort Khan